// Here you can add other styles

@import url('https://fonts.cdnfonts.com/css/rubik-2');

* {
  font-family: 'Rubik', sans-serif;
}

.rdt_TableHeadRow {
  font-size: 1.3em !important;
  font-weight: 600 !important;
}

.rdt_TableRow {
  font-size: 1.05em !important;
}

.sidebar {
  background-color: #0c1605;
}

.sidebar-nav .nav-link.active {
  background-color: #46523f !important;
}

.sidebar-nav .nav-link:hover {
  background-color: #46523f52;
}

.form-control:focus, .form-select:focus {
  border-color: #0c1605a1;
  box-shadow:
    rgba(11, 24, 1, 0.16) 0px 1px 4px,
    rgba(29, 97, 1, 0.336) 0px 0px 0px 3px !important;
}


.nav-link{
  color: #108a00;
}
.nav-link :hover, .nav-item{
  color: #1adb00;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #0a5500;
  font-weight: 700;

}